.topnav {
	width:100%;
	padding: 40px 28px 25px 0;
	font-family: 'CenturyGothicRegular';
	color:#464646;
	font-size:13px;
	font-weight:normal;   
}

ul.topnav {
	padding: 0;
	margin: 0;

	list-style: none;
}

ul.topnav li {
font-family: 'CenturyGothicRegular';	
}

ul.topnav li a {
	line-height:10px;
	font-size:12px;
	padding: 10px 0px;
	color: #404040;
	display: block;
	text-decoration: none;
	font-weight: normal;
	text-transform:capitalize;
	font-family: 'CenturyGothicRegular'; 
}

ul.topnav li a:hover {

	color:#464646;
}
ul.topnav li a p {
color: #B0B0B0;
font-size: 12px;
font-style: italic;
line-height:24px;
font-family: 'CenturyGothicRegular';
}

ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
	list-style:none; 
}

ul.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}

ul.topnav ul li a {
	padding-left:4px;
	font-size: 12px;
	font-weight: normal;
	outline:0;
	color:#000;
font-family: 'CenturyGothicRegular';
text-transform: capitalize;
}

ul.topnav ul li a:hover {
  color:#999;
}

ul.topnav ul ul li a {
	color:#000;
	padding-left:12px;
	line-height:18px;
	padding:0px 0px 0px 11px !important;
	margin-bottom:10px;
	font-size:12px;    
}

ul.topnav ul ul li a:hover {

	color:#999;
}
ul.topnav ul ul ul li a {
	color:#7f7f7f;
	padding-left:17px;
}

ul.topnav ul ul ul li a:hover {

	color:#999;
}

ul.topnav span{
	float:right;
}

.topnav1 {
	width:100%;
	padding: 40px 28px 25px 0;
	font-family:NovecentowideLightRegular;
	color:#464646;
	font-size:13px;
	font-weight:normal;   
}

ul.topnav1 {
	padding: 0;
	margin: 0;

	list-style: none;
}

ul.topnav1 li {
font-family:'CenturyGothicRegular'; 	
}

ul.topnav1 li a {
	line-height:10px;
	font-size:12px;
	padding: 10px 0px;
	color: #404040;
	display: block;
	text-decoration: none;
	font-weight: normal;
}

ul.topnav1 li a:hover {

	color:#464646;
}
ul.topnav1 li a p {
color: #B0B0B0;
font-size: 12px;
font-style: italic;
line-height:24px;
font-family: 'CenturyGothicRegular';
}

ul.topnav1 ul {
	margin: 0;
	padding: 0;
	display: none;
	list-style:none; 
}

ul.topnav1 ul li {
	margin: 0;
	padding: 0;
	clear: both;
}

ul.topnav1 ul li a {
	padding-left:4px;
	font-size: 12px;
	font-weight: normal;
	outline:0;
	color:#444;

}

ul.topnav1 ul li a:hover {
  color:#999;
}

ul.topnav1 ul ul li a {
	color:#626262;
	padding-left:9px;
	line-height:18px;
	padding:0px 0px 0px 11px !important;
	margin-bottom:10px;   
}

ul.topnav1 ul ul li a:hover {

	color:#999;
}
ul.topnav1 ul ul ul li a {
	color:#7f7f7f;
	padding-left:17px;
}

ul.topnav1 ul ul ul li a:hover {

	color:#999;
}

ul.topnav1 span{
	float:right;
}
