@charset "utf-8";
/* CSS Document */
.search_filter {
	top: 30px;
	float: none !important;
    margin-bottom: 0 !important;
    position: relative;
    right: 14px;
}

.search_menu {
	top:30px;
	float: none !important;
	margin-bottom: 0 !important;
	position: relative;
	right:2px;
}